@font-face {
    font-family: CountrySide;
    src: url("CountrysideTwo-r9WO.ttf");
}


img {
    height: 150px;
    width: 250px;
    box-shadow: 0 6px 8px 0 rgb(2, 2, 2, 0.2);
    padding: 10px;
    display: inline;
}

.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: aliceblue;
}

h1 {
    font-family: CountrySide;
}

body {
    background-color: rgb(223, 217, 254);
}

img:hover {
    border-radius: 140px;
}
